<!DOCTYPE html>

<html>

<head>
    <title>Effectif Victorious Secrets</title>
    <link rel="stylesheet" href="/public/effectif.css" />
    <script type="text/javascript">
        function FindNext() {
            var str = document.getElementById("findField").value;
            if (str == "") {
                alert("Le champs doit contenir une valeur pour que la recherche fonctionne");
                return;
            }

            var supported = false;
            var found = false;
            if (window.find) {        // Firefox, Google Chrome, Safari
                supported = true;
                // if some content is selected, the start position of the search 
                // will be the end position of the selection
                found = window.find(str);
            }
            else {
                if (document.selection && document.selection.createRange) { // Internet Explorer, Opera before version 10.5
                    var textRange = document.selection.createRange();
                    if (textRange.findText) {   // Internet Explorer
                        supported = true;
                        // if some content is selected, the start position of the search 
                        // will be the position after the start position of the selection
                        if (textRange.text.length > 0) {
                            textRange.collapse(true);
                            textRange.move("character", 1);
                        }

                        found = textRange.findText(str);
                        if (found) {
                            textRange.select();
                        }
                    }
                }
            }

            if (supported) {
                if (!found) {
                    alert("Ce Coach/Joueuse n'a pas été trouvé(e)\n" + str);
                }
            }
            else {
                alert("Veuillez entrer un prénom ou un nom");
            }
        }
    </script>
</head>
<%- include('header.ejs') %>

<body>
    <div class='findField'>
        <input type="text" id="findField" value="Recherche Coach/Joueuse" size="23" />
        <button class='searchbutton' onclick="FindNext();">Recherche</button>
    </div><br>
    <p class='lignedeco'>
        ____________________________________________________________________________________________________________________________
    </p>

    <h2>Coachs</h2>
    <div class='layoutcoachs'>
        <div> <!-- Formulaire d'ajout de Coach-->
            <form class="formaddcoach" action="/effectif/ajouter/" method="post">
                <fieldset>
                    <legend><strong>Ajouter un Coach :</strong> </legend> </br>
                    Prénom:<input type="text" name="firstname" id="coachfn" autofocus /> </br>
                    Nom:<input type="text" name="lastname" id="coachln" autofocus /> </br>

                    <input class="boutonsubmit" type="submit" value="Ajouter Coach" />
                </fieldset>

            </form>

        </div>

        <div>
            <table> <!-- Table d'affichage des Coachs-->

                <% listecoachs.forEach(function(coach) { %>
                <tr>
                    <td> <strong> <%= coach.firstname %> <%= coach.lastname %></strong></td>
                    <td><button class="updatebutton"><a href='/effectif/update/<%= coach.id%>'> Modifier </a></button>
                        <button class="deletebutton"><a onclick="if(confirm('Etes-vous sûr de vouloir supprimer <%= coach.firstname %> <%= coach.lastname %> de la Liste des Coachs ?')) return true; else return false;" href="/effectif/supprimer/<%= coach.id%>">X</a></button> </td>

                </tr>
                <% }); %>

            </table>
        </div>
    </div>
    <p class='lignedeco'>
        ____________________________________________________________________________________________________________________________
    </p>
    <h2>Joueuses</h2>
    <div class='layoutcoachs'>
        <div> <!-- Formulaire d'ajout de Joueuse-->
            <form class="formaddjoueuse" action="/effectifj/ajouter/" method="post">
                <fieldset>
                    <legend><strong>Ajouter une Joueuse : </strong></legend> </br>
                    Prénom:<input type="text" name="firstname" id="joueusefn" autofocus /> </br>
                    Nom: <input type="text" name="lastname" id="joueuseln" autofocus /> </br>
                    <input class="boutonsubmit" type="submit" value="Ajouter Joueuse" />
                </fieldset>
            </form>
        </div>

        <div>

            <table> <!-- Table d'affichage des joueuses-->
                <% listejoueuses.forEach(function(joueuse) { %>
                <tr>
                    <td>
                        <strong><%= joueuse.firstname %> <%= joueuse.lastname %></strong></td>
                    <td> <button class="updatebutton"> <a href='/effectifj/update/<%= joueuse.id%>'> Modifier
                            </a></button>
                        <button class="deletebutton">
                            <a onclick="if(confirm('Etes-vous sûr de vouloir supprimer <%= joueuse.firstname %> <%= joueuse.lastname %> de la liste des joueuse ?')) return true; else return false;"
                                href="/effectifj/supprimer/<%= joueuse.id %>">
                                X</a>
                        </button>

                    </td>
                </tr>
                <% }); %>
            </table>
        </div>
    </div>
</body>
<%- include('footer.ejs') %>

</html>