<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/updatematch.css" />
    <title> Update Match </title>
</head>
<%- include('header.ejs') %>

<body>

    <form action="/matchs/update" method="POST">
        <fieldset>
            <legend><strong>Modification Match :</strong> </legend>
            <div class="infosform">
                <input type="hidden" value="<%= id_match %>" name="id_match">
                <label for="mtitre"><strong>Titre :</strong></label>
                <input id="mtitre" type="text" name="titre" value="<%= titre %>"><br>
                <label for="mdate"><strong>Date :</strong></label>
                <input id="mdate" type="date" name="date" value="<%= date %>"><br>
                <label for="mheure"><strong>Heure :</strong></label>
                <input id="mheure" type="time" name="heure" value="<%= heure %>"><br>
                <label for="madresse"><strong>Adresse :</strong></label>
                <input id="madresse" type="adresse" name="adresse" value="<%= adresse %>"><br>
                <strong>Coach :</strong> <SELECT name="fk_id_coach" size="1">
                    <OPTION value="<%= fk_id_coach %>"> <%= firstname %> <%= lastname %></OPTION>
                    <% listecoachs.forEach(function(coach) { %>

                    <OPTION value= "<%= coach.id %>"> <%= coach.firstname %>  <%= coach.lastname %></OPTION>

                    <% }); %>
                </SELECT> </br>
            </div>
            <div class="compoform">
                <div class='attaque'>

                    <SELECT name="AG" size="1">
                        <OPTION><%= AG %></OPTION>
                        <% listejoueuses.forEach(function(joueuse) { %>

                        <OPTION> <%= joueuse.lastname %> <%= joueuse.firstname[0] %> </OPTION>

                        <% }); %>
                    </SELECT>

                    <SELECT name="BU" size="1">
                        <OPTION><%= BU %></OPTION>
                        <% listejoueuses.forEach(function(joueuse) { %>

                        <OPTION> <%= joueuse.lastname %> <%= joueuse.firstname[0] %> </OPTION>
                        <% }); %>
                    </SELECT>

                    <SELECT name="AD" size="1">
                        <OPTION><%= AD %></OPTION>
                        <% listejoueuses.forEach(function(joueuse) { %>

                        <OPTION> <%= joueuse.lastname %> <%= joueuse.firstname[0] %> </OPTION>

                        <% }); %>
                    </SELECT> </br>
                </div>
                <div class="milieu">


                    <SELECT name='MG' size="1">
                        <OPTION><%= MG %></OPTION>
                        <% listejoueuses.forEach(function(joueuse) { %>

                        <OPTION> <%= joueuse.lastname %> <%= joueuse.firstname[0] %> </OPTION>

                        <% }); %>
                    </SELECT>

                    <SELECT name="MC" size="1">
                        <OPTION><%= MC %></OPTION>
                        <% listejoueuses.forEach(function(joueuse) { %>

                        <OPTION> <%= joueuse.lastname %> <%= joueuse.firstname[0] %> </OPTION>

                        <% }); %>
                    </SELECT>

                    <SELECT name="MD" size="1">
                        <OPTION><%= MD %></OPTION>
                        <% listejoueuses.forEach(function(joueuse) { %>

                        <OPTION> <%= joueuse.lastname %> <%= joueuse.firstname[0] %> </OPTION>

                        <% }); %>
                    </SELECT> </br>
                </div>
                <div class="defense">


                    <SELECT name="DG" size="1">
                        <OPTION><%= DG %></OPTION>
                        <% listejoueuses.forEach(function(joueuse) { %>

                        <OPTION> <%= joueuse.lastname %> <%= joueuse.firstname[0] %> </OPTION>

                        <% }); %>
                    </SELECT>

                    <SELECT name="DCG" size="1">
                        <OPTION><%= DCG %></OPTION>
                        <% listejoueuses.forEach(function(joueuse) { %>

                        <OPTION> <%= joueuse.lastname %> <%= joueuse.firstname[0] %> </OPTION>

                        <% }); %>
                    </SELECT>

                    <SELECT name="DCD" size="1">
                        <OPTION><%= DCD %></OPTION>
                        <% listejoueuses.forEach(function(joueuse) { %>

                        <OPTION> <%= joueuse.lastname %> <%= joueuse.firstname[0] %> </OPTION>

                        <% }); %>
                    </SELECT>

                    <SELECT name="DD" size="1">
                        <OPTION><%= DD %></OPTION>
                        <% listejoueuses.forEach(function(joueuse) { %>

                        <OPTION> <%= joueuse.lastname %> <%= joueuse.firstname[0] %> </OPTION>

                        <% }); %>
                    </SELECT> </br>
                </div>
                <div class="gardien">


                    <SELECT name="G" size="1">
                        <OPTION><%= G %></OPTION>
                        <% listejoueuses.forEach(function(joueuse) { %>

                        <OPTION> <%= joueuse.lastname %> <%= joueuse.firstname[0] %> </OPTION>

                        <% }); %>
                    </SELECT> </br>
                </div>
            </div>
            <div class="boxboutonsubmit">
                <input class="boutonsubmit" type="submit" name="save" value="Sauver" style="width:130px; height:30px">

                <a href="/matchs"> <input class="boutonsubmit" type="button" value="Retour"
                        style="width:130px; height:30px"> </a>
            </div>

        </fieldset>
    </form>
</body>
<%- include('footer.ejs') %>

</html>